# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Generated index files
# Ignore all files in resources directory but keep the directory structure
imas.codex/resources/*
!imas.codex/resources/.gitkeep

# Distribution / packaging
dist/
build/
wheels/
*.egg-info/
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
.env/
.venv/
.tox/

#secrets
.env

# Testing
.coverage
htmlcov/
.pytest_cache/
.coverage.*
coverage.xml
*.cover

# IDE files
.idea/
*.swp
*.swo

# Project specific
*/cache/*.pkl
*/cache/*.json

# Jupyter Notebooks
.ipynb_checkpoints

# OS specific
.DS_Store
Thumbs.db

# Poetry & other tools
poetry.lock
.python-version

# Log files
*.log
.env
.asv/
imas.codex/database/imas_fts.db

# Documentation data
docs-data/
docs/TOOL_IMPROVEMENT_PLAN.md

